# Google Apps Script Web App URL (after deploying your Apps Script)
NEXT_PUBLIC_APPS_SCRIPT_URL=https://script.googleusercontent.com/a/macros/americanhairline.com/echo?user_content_key=AWDtjMVwjQa45efX0bF1KeyavFJqJQFBnK7UBG9AM0JQ-hgW7zqF6pdqwufmXfsi3s10WfIIgByATCPF-Qj3wa_xt7cJm8xjr0MvZ5D1Jdxb1zPjDVEiTw_9dyF7TtsB2udtv27L0ammTCgnn5ni52ff5jsCFeIZ_7oGE67ZeCXGenCaOG1EhGgeF2R9-6pvMWIrxJwqxl-KYECvkdedUJ3KFBSkx5357fUY15UtKjz-xsK21TrvO2jX_gTejivdQ-MWxQc_Rbd5qiL64w1qii-4JRXSu5XJyyOi9R4jLF7BCXo1ubZenag9q7FETW8DgQ&lib=MOuoFh43gVEo1XOvDrjH93K_bX6_g3ydw

# Deepgram API Key (for live audio transcription)
NEXT_PUBLIC_DEEPGRAM_API_KEY=6938db5b68c897a53d95ce6df24c64955e7c8d70

# OpenRouter API Key (for AI action point generation)
OPENROUTER_API_KEY=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
